body, html {
	overflow-x:hidden;
}


a:hover {
	text-decoration:none;
}
.invisible {
	display:none;
}

.home {
	background:#fff;
}

.jumbotron {
	padding-top: 0px !important;
	background: url('../images/background_1_dark.jpg');
	overflow-x:hidden;
	height:auto;
	padding: 0;
	background-repeat: repeat;
	
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #fff;
}

.ribbon {
	background: rgba(0,0,0,0);
    height: 80px;
    position: fixed;
    width: 100%;
	transition:all 0.5s;
	z-index:100;
	top: 0;
}

.activeRibbon {
	background: rgba(0,0,0,0.9);
}

.nav {
	margin-top: 17px;
}

.navbar-fixed-top {
	position: fixed;
	top:0px;
}

.navbar {
    border-radius: 0px !important;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

.navbar-toggle {
	margin-top: 21px;
}

.navbar-brand img {
	max-width: 125px;
    position: absolute;
}

.navbar-inverse {
    background: none;
    border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:none;
	box-shadow: none;
}



.navbar-nav > li > a::after, .navbar-nav > li > a::before, .navbar-nav > li.active a::after, .navbar-nav > li.active a::before {
    top: 0;
    opacity: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 47px;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar-nav > li > a:hover::before, .navbar-nav > li.active a::before {
    opacity: 1;
    left: -5px;
}
.navbar-nav > li > a::before, .navbar-nav > li.active a::before {
    left: 0;
    content: '[';
}

.navbar-nav > li > a:hover::after, .navbar-nav > li.active a::after {
    opacity: 1;
    right: -5px;
}
.navbar-nav > li > a::after, .navbar-nav > li.active a::after {
    right: 0;
    content: ']';
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: none !important;
}

.nav>li {
    position: relative;
    display: block;
    margin: 0px 10px 0px 10px;
}

.nav>li a {
	font-size: 16px;
	text-transform: capitalize;
}

.page {
	margin-bottom:40px;
}


.jumbotron .title {
	width:100%;
	text-align:center;
	color:#fff;
	font-family: 'Slabo 27px', serif;
	margin-top: 20%;
    margin-bottom: 23%;
}

.jumbotron .title h1 {
	font-weight:500 !important;
	margin-bottom:30px;
}

.jumbotron .title .subText {
	font-weight:500 !important;
	font-size:28px;
	margin-bottom:20px;
}

.blinker {

	font-size:28px;
}

.btn {
	background:transparant;
	border:2px solid #fff;
	border-radius:8px;
	color:#fff;
	padding: 15px 40px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0px auto;
	text-transform:uppercase;
	font-size:18px;
	transition: all 0.3s;
}

.btn:focus, .btn:visited {
	color:#fff;
	outline:none;
}

.btn:hover {
	background:#fff;
	color:#000;
}

.blinker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


h1 {
	text-align:center;
}

/* werkervaring */

.carrousselContainer {
	width: 1170px;
    position: absolute;
    
	height: 687px;
}

.carrousselLeft {
	position:absolute;
	width:50px;
	left: -25px;
	font-size:50px;
	background:rgba(0,0,0,0.4);
	color:#fff;
	z-index:1000;
	height: 80px;
	top: 271px;

	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.carrousselRight {
	position:absolute;
	width:50px;
	right:0px;
	font-size:50px;
	background:rgba(0,0,0,0.4);
	color:#fff;
	z-index:1000;
	top: 271px;
	height: 80px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.carrousselLeft:hover, .carrousselRight:hover {
	background:rgba(0,0,0,0.9);
	cursor:pointer;
}

.carrousselLeft .glyphicon, .carrousselRight .glyphicon {
	top:calc(50% - 25px);
}

#werkervaring h1, #opleiding h1 , #contact h1 {
	margin-top:50px;
	margin-bottom:40px;
}

.werkervaring .container {
	overflow:hidden;
}

.expandableContainer {
	width:206%;
	position:relative;
}

.seperator {
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color:#006293;
	width:150px;
	margin:0 auto 50px auto;
}

.step1 {
	margin-left: -1.5%;
	transition: all 0.5s;
}
.step2 {
	margin-left: -35%;
	transition: all 0.5s;
}
.step3 {
	margin-left: -70%;
	transition: all 0.5s;
}
.step4 {
	margin-left: -105%;
	transition: all 0.5s;
}

#ballContainer {
	width: 100px;
	height:20px;
	margin:30px auto;
	display: flex;
	justify-content:space-between;
}

.ball {
	background: #006293;
	height:15px;
	width:15px;
	border-radius: 100%;	
	cursor:pointer;
}

.ball:hover, .ball.active {
	background: #000;
}

.block {
	width:100%;
	border-radius:8px;
	-webkit-box-shadow:inset 0px 0px 0px 2px #000;
    -moz-box-shadow:inset 0px 0px 0px 2px #000;
    box-shadow:inset 0px 0px 0px 2px #000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:center;
	transition: all 0.3s;
	margin-bottom: 15px;
}

.block:hover  {
	-webkit-box-shadow:inset 0px 0px 0px 2px #006293;
    -moz-box-shadow:inset 0px 0px 0px 2px #006293;
    box-shadow:inset 0px 0px 0px 2px #006293;
}

.block .datum {
	font-size: 40px;
    z-index: 51;
    color: #fff;
    position: relative;
    text-align: center;
    top: -100px;
	opacity:0;
    transition: all 0.3s;
}

.block:hover .datum {
	
	top:-160px;
	opacity:1;
}

.block span {
	padding:20px;
	border-radius:100%;
	background:#006293;
	color:#fff;
	font-size:34px;
	margin-top:-38px;
	top: -55px;
	background:#006293;
	transition: all 0.3s;
}

.block:hover span {
	background:#000;
}

.block img {
	width:100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	transition: all 0.3s;
	max-height: 240px;
}

.block:hover img {
	filter: brightness(30%);
}



.block .title{
	text-align:center;
	font-size:14pt;
	padding:0px 20px;
	width:100%;
	line-height:24px;
	height:70px;
	margin-top: -30px;
}

.block .description{
	padding: 0px 20px 20px 20px;
	width:100%;
	text-align:left;
	height:270px;
}

.opleiding .block .description {
	height:100px;
}

.werkervaring .btn, .werkervaring .btn:visited , .werkervaring .btn:focus, .contact .btn, .contact .btn:visited , .contact .btn:focus {
	background: #006293;
	color:#fff;
	outline:none;
	margin-top: 30px;
	margin-bottom:30px;
	border:none;
}

.werkervaring .btn:hover, .contact .btn:hover {
	background: #000;
	color:#fff;
}
/*  cursus*/

.cursus {
	background: #000;
	color: #eee;
}

.cursus .container{
	position:relative;
	height:auto;
}

.cursus .container .col {
	margin-top:20px;
}

/* media */

.media {
	height: 400px;
	overflow:hidden;
	background:#000;
	color: #eee;
}

.media .container .col {
	margin-top:20px;
	    text-align: center;
}

.media .container .col a {
	cursor:pointer;
}

.media .container .col a:hover {
	background:#000;
}


.media .col a{
	color:#fff;
	padding:50px;
	border-radius:100%;
	background:#006293;
	font-size:60px;
}

.media .col .title{
	font-size:16px;
	margin-top:20px;
	text-align:center;
}

h1 {
	    
}

.parallax {
    /* The image used */
    background-image: url("../images/pexels-photo_3_dark_small.jpg");
    /* Set a specific height */
	height:auto;
    min-height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-size:20px;
	text-align:justify;
	padding-top: 30px;
	padding-bottom: 50px;
	color:#fff;
}

.center {
	text-align:center;
	font-size:33px;
}

.parallax .seperator, .parallax2 .seperator {
	border-color:#fff;
}

.parallax .col {
	padding:20px 60px 20px 60px;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/pexels-photo-300412_dark_small.jpg");
    /* Set a specific height */
	height:auto;
    min-height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* contact */

.contact {
	margin-bottom:50px;
}

.contact .container a {
	
}

.contact .container img {
	width: 100px;
	margin-top: -8px;
}

.contact input, .contact textarea {
	border:2px solid #000;
	border-radius: 8px;
	padding:20px;
	
	margin-bottom:15px;
}

.contact input:focus, .contact input:active, .contact textarea:focus, .contact textarea:active {
	outline:none;
	column-rule-color:none;

}

.contact .container .first-col, .last-col {
	padding-right:0px;
	padding-left:0px;
}

.contact .container ul {
	padding-left:0px;
}

.contact .container ul li {
	 list-style:none;
	 padding-bottom:20px;
}

.container .contactBall {
	background:#006293;
	border-radius: 100%;
	width:30px;
	height:30px;
	float:left;
	color:#fff;
	text-align:center;
	padding-top:6px;
	margin-top:-6px;
	margin-right:15px;
}

.contact .container img.profilePicture {
	width:30%;
	max-width:300px;
	border: 2px solid #000;
	border-radius: 8px;
	float:right;
}

.badInput {
	border: 2px solid red !important;
	color:red;
}

iframe .fielderror {
	display:none;
}

.footer {
	text-align:center;
	margin-bottom:10px;
}
.footer a {
	color:#000;
}


@media (max-width: 490px) {
	.contactBall {
		display:none;
	}
	.contact .container ul li {
		font-size:11px;
	}

}

@media (max-width: 720px) {
	.btn {
		font-size:12px;
		    padding: 15px 5px;
	}
}

@media (max-width: 768px) {
	.navbar-collapse ul {
		background: #000;
		opacity:0.9;
	}

	.navbar-collapse ul li a:before, .navbar-collapse ul li a:after {
		margin-top: -4px;
	}

	.media .col a{
		color:#fff;
		padding:30px;
		border-radius:100%;
		background:#006293;
		font-size:30px;
	}

	
	.media .col .title{
		font-size: 16px;
		right: 0px;  
		position: relative;
		z-index: 100;
		top:0;
		}

	
	.parallax {
		font-size:18px;
		padding-top: 0px;
		padding-bottom: 20px;
	}
	

}

@media (max-width: 991px) {
	.email-col {
		padding-left:0px;
		padding-right:0px;
	}
	.expandableContainer {
		width:100%;
	}
	#ballContainer {
		display:none;
	}
	.block .description {
		height:auto;
	}
	.row {
		margin-right: 0px;
		margin-left: 0px; 
	}
	.carrousselContainer {
		display:none;
	}
	
}
@media (max-width: 1200px) {
	.carrousselContainer {
		width: 970px;
		height: 636px;
	}
	.carrousselRight {
		right: 7px;
	}
}